@media (max-width: 2000px){

    .roadmap .snake .march_2022 {
        top: 170px;
        left: -56px;
    }
    .roadmap .snake .roadmap_items .third_item p {
        top: -21px;
    }
    .roadmap .snake .second_item p {
        top: 245px;
        left: 450px;
    }
    .roadmap .snake .roadmap_items .fifth_item p {
        top: -191px;
        right: -20px;
    }
    .roadmap .snake .roadmap_items .fourth_item p {
        top: 217px;
        right: 240px;
    }
    .roadmap .snake .roadmap_items .third_item img {
        top: -270px;
        left: 298px;
    }
    .roadmap .snake .roadmap_items .fifth_item img {
        top: -55px;
        right: 136px;
    }
    .roadmap .snake .second_item img {
        top: -45px;
        left: 159px;
    }
}

@media screen and (max-width: 1800px){
    

    .roadmap .snake .firs_item p {
        position: absolute;
        width: 155px;
        top: -40px;
        left: 60px;
    }
    .roadmap .snake .march_2022 {
        top: 140px;
        left: -26px;
    }
    .roadmap .snake .second_item img {
        top: -65px;
        left: 189px;
    }
    .roadmap .snake .second_item p {
        top: 220px;
        left: 400px;
    }
    .roadmap .snake .roadmap_items .third_item img {
        top: -290px;
        left: 318px;
    }
    .roadmap .snake .roadmap_items .fourth_item img {
        bottom: -535px;
        right: 458px;
    }
    .roadmap .snake .roadmap_items .third_item p {
        top: -21px;
    }
    .roadmap .snake .roadmap_items .fourth_item p {
        top: 177px;
        right: 260px;
    }
    .roadmap .snake .roadmap_items .fifth_item img {
        top: -53px;
        right: 179px;
    }
    .roadmap .snake .roadmap_items .fifth_item p {
        top: -211px;
        right: 35px;
    }
}

@media (max-width: 1600px){
    
    .roadmap .snake .firs_item p {
        position: absolute;
        width: 155px;
        top: -30px;
        left: 100px;
    }
    .roadmap .snake p {
        line-height: 21px;
    }
    .roadmap .snake .second_item p {
        width: 170px;
        top: 168px;
        left: 446px;
    }
    .roadmap .snake .roadmap_items .third_item p{
        top: -39px;
    }
    .roadmap .snake .roadmap_items .fourth_item p {
        right: 286px;
    }
    .roadmap .snake .roadmap_items .fifth_item p {
        right: 55px;
    }
    .roadmap .snake .march_2022 {
        position: absolute;
        top: 110px;
        left: 43px;
        width: 15%;
    }
    .roadmap .snake .second_item img {
        position: absolute;
        top: -65px;
        left: 240px;
        width: 20%;
    }
    .roadmap .snake .roadmap_items .third_item img {
        position: absolute;
        top: -252px;
        left: 367px;
        width: 22%;
    }
    .roadmap .snake .roadmap_items .fourth_item img {
        position: absolute;
        bottom: -434px;
        right: 466px;
        width: 22%;
    }
    .roadmap .snake .roadmap_items .fifth_item img {
        position: absolute;
        top: -104px;
        right: 205px;
        width: 20%;
    }
}
@media (max-width: 1400px){

    .roadmap .snake .march_2022 {
        top: 36px;
        left: 120px;
        width: 16%;
    }
    .roadmap .snake .roadmap_items .fourth_item p {
        right: 368px;
        top: 113px;
    }
    .roadmap .snake .firs_item p {
   
        top: -103px;
        left: 168px;
    }
    .roadmap .snake .second_item img {
        top: -131px;
        left: 288px;
        width: 19%;
    }
    .roadmap .snake .roadmap_items .third_item img {
        top: -265px;
        left: 411px;
        width: 20%;
    }
    .roadmap .snake .roadmap_items .fourth_item img {
        bottom: -415px;
        right: 558px;
        width: 20%;
    }
    .roadmap .snake .roadmap_items .fifth_item img{
        top: -135px;
        right: 316px;
        width: 18%;
    }
}

@media (max-width: 992px){
    .container{
        max-width: 370px;
    }
}

@media (max-width: 992px){
    .container{
        width: 100%;
        max-width: 480px;
        /* position: relative; */
    }

    header .header_top,
    .header_bottom .img_block img,
    .purchase .info p br{
        display: none;
    }
    .hamburger-menu,
    .magazine .item p br,
    .scrol_img{
        display: block;
    }
    header{
        clip-path: none;
    }
    #menu_toggle {
        opacity: 0;
    }
    #menu_toggle:checked + .menu_btn > span {
        transform: rotate(45deg);
    }
    #menu_toggle:checked + .menu_btn > span::before {
        top: 0;
        transform: rotate(0deg);
        background-color: #fff;
    }
    #menu_toggle:checked + .menu_btn > span::after {
        top: 0;
        transform: rotate(90deg);
        background-color: #fff;
    }
    #menu_toggle:checked ~ .menu_box {
        right: 0 !important;
    }
    .menu_btn {
        position: fixed;
        top: 30px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }
    .menu_btn > span,
    .menu_btn > span::before,
    .menu_btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #FFF;
        transition-duration: .25s;
    }
    .menu_btn > span::before {
        content: '';
        top: -8px;
    }
    .menu_btn > span::after {
        content: '';
        top: 8px;
    }
    .menu_box {
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        width: 320px;
        margin: 0;
        padding: 50px 0;
        list-style: none;
        background-image: url('../images/mobile_fon.png');
        background-repeat: no-repeat;   
        transition-duration: .25s;
        z-index: 1;
    }
    .menu_item {
        display: block;
        padding: 12px 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        transition-duration: .25s;
    }
    .mb_menu.active{
        top: -100%;
        height: 166px;
    }
    .shop_links a{
        font-family: 'Proxima Nova Rg';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 35px;
        text-align: center;
        text-transform: uppercase;
        color: #FAFAFA;
        border: solid 5px transparent;
        border-radius: 5px;
        background-image: linear-gradient(0deg, #2400FF 3.87%, #001AFF 10.19%, #0066FF 58.61%, #00D1FF 93.36%, #00FFFF 109.15%), linear-gradient(180deg, #2400FF 3.87%, #001AFF 10.19%, #0066FF 58.61%, #00D1FF 93.36%, #00FFFF 109.15%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        display: block;
        height: 45px;
        margin-right: 50px;
        margin-left: 80px;
        margin-bottom: 30px;
    }
    .shop_links a span{
        padding: 18px;
    }
    .shop_links a:last-child{
        background-image: linear-gradient(0deg, #FF1F00 3.87%, #FF2C00 10.19%, #FF9300 58.61%, #FFD500 93.36%, #FFEE00 109.15%), linear-gradient(180deg, #FF1F00 3.87%, #FF2C00 10.19%, #FF9300 58.61%, #FFD500 93.36%, #FFEE00 109.15%);
        border: 5px solid transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
        position: relative;
    }
    .shop_links .fire img{
        left: -34px;
        top: -19px;
        transform: rotateY(180deg);
        width: 30%;
    }
    .hamburger-menu{
        overflow: auto;
    }
    .hamburger-menu .social_links{
        text-align: center;
    }
    .hamburger-menu .social_links a{
        padding-right: 20px;
    }
    .hamburger-menu .social_links a:last-child{
        padding-right: 0;
    }
    .header_bottom .title{
        font-size: 24px;
        line-height: 34px;
    }
    .header_bottom .name{
        font-size: 14px;
        line-height: 24px;
    }
    .header_bottom{
        width: 73%;
    }
    .header_bottom .learn a{
        font-size: 14px;
        line-height: 24px;
    }
    .header_bottom .learn img {
        width: 3%;
    }
    .header_bottom .mb_imgblock{
        position: absolute;
        bottom: 0;
        right: -15px;
    }
    .header_bottom .mb_imgblock img{
        display: block;
        width: 100%;
    }
    .collection .info_item{
        width: auto ;
    }
    .collection .info_item .title h1{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 20px;
    }
    .collection .info_item .info p{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 25px;
    }
    .grey_block {
        padding-top: 50px;
        clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%);
        transform: translate(0px, -39px);
    }
    .item_card img{
        width: 100%;
    }
    .magazine_block{
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0% 100%);
    }
    .magazine {
        text-align: center;
    }
    .magazine h2{
        font-size: 18px;
        line-height: 35px;
    }
    .magazine p{
        font-size: 14px;
        line-height: 24px;
    }
    .magazine .item{
        margin-bottom: 16px;
    }
    .magazine a{
        font-size: 18px;
        height: 45px;
    }
    .magazine img{
        width: 33%;
        right: 144px;
        top: -17px;
    }
    .purchase_block{
        display: none;
    }
    .mb_purchase{
        display: block;
    }
    .mb_purchase{
        background-image: url('../images/mb_fon.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .purchase{
        padding-top: 216px;
    }
    .purchase .title{
        display: none;
    }
     .purchase .title{
        display: block;
        font-size: 20px;
        line-height: 20px;
        background-image: url('../images/rectangle58.png');
        background-repeat: no-repeat;
        margin-bottom: 0;
    }
    .purchase .title .gradients {
        background: linear-gradient(180deg, #FF1F00 45.87%, #FF2C00 40.19%, #FF9300 83.61%, #FFD500 93.36%, #FFEE00 109.15%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-top: 36px;
    }
    .purchase .name{
        font-size: 14px;
        line-height: 20px;
    }
    .purchase .info p{
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .purchase form input{
        width: 100%;
        margin-bottom: 20px;
    }
    .purchase .community a{
        font-size: 15px;
    }
    .purchase button img{
        top: -16px;
        left: 131px;
        width: 38%;
    }
    .purchase button{
        font-size: 18px;
        height: 50px;
        width: 160px;
        margin-right: 0;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        font-size: 12px;
     }
     :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        font-size: 12px;
     }
     ::-moz-placeholder { /* Mozilla Firefox 19+ */
        font-size: 12px;
     }
     :-ms-input-placeholder { /* Internet Explorer 10+ */
        font-size: 12px;
    }

    .mobile_br{
        display: block;
    }
    /* Each start */
    .each_line.top{
        display: none;
    }
    .each{
        padding: 71px 20px;
    }
    .each .container{
        padding: 59px 17px 58px 21px;
        max-width: 280px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 98%);
    }
    .each .container .card_title h1{
        font-size: 24px;
        line-height: 34px;
    }
    .each .container .card_title p{
        font-size: 14px;
        line-height: 24px;
        width: 100%;
    }
    .each .container .card_body .col-lg-4 img{
        width: 40px;
        margin-bottom: 14px;
    }
    .each .container .card_body p{
        font-size: 14px;
        line-height: 24px;
    }
    .each .container .card_body .pen{
        width: 124px;
    }
    .each .container .card_body p.dragon{
        width: 161px;
    }
    .each .container .card_body p.joystik{
        width: 191px;
    }
    .each .container .card_body .col-lg-4{
        margin-bottom: 20px;
    }
    .each .container .card_body .col-lg-4:last-child{
        margin-bottom: 0;
    }


    /* Each end */

    .roadmap{
        overflow-x: scroll;
        height: 950px;
     }
    .roadmap .snake{
        background-size: 1189px 665px;
        padding: 69px 0 199px 0;
        min-height: 665px;
        width: 1189px;
        overflow-x: scroll;
     }
     .roadmap .snake .container{
        max-width: 1189px;
        padding: 0 176px;
     }
     .roadmap .snake .roadmap_items p{
        font-size: 12px;
        line-height: 20px;
     }
     .roadmap .snake .firs_item p{
        width: 124px;
        position: absolute;
        top: -72px;
        left: 0px;
     }
    .roadmap .snake .roadmap_items .march_2022{
        width: 149px;
        top: 69px;
        left: -47px;
    }
    .roadmap .snake .second_item .april_2022{
        width: 191px;
        top: -72px;
        left: 111px;
    }
    .roadmap .snake .second_item p{
        top: 113px;
        left: 239px;
        width: 127px;
    }
    .roadmap .snake .roadmap_items .third_item .may_4th{
        width: 229px;
        top: -233px;
        left: 194px;
    }
    .roadmap .snake .roadmap_items .third_item p{
        width: 97px;
        top: -62px;
        left: 405px;
    }
    .roadmap .snake .roadmap_items .fourth_item p{
        width: 99px;
        top: 56px;
        right: 143px;
    }
    .roadmap .snake .roadmap_items .fourth_item .june_11th{
        width: 218px;
        bottom: -312px;
        right: 280px;
    }
    .roadmap .snake .roadmap_items .fifth_item p{
        width: 122px;
        right: -9px;
    }
    .roadmap .snake .roadmap_items .fifth_item .july_2022{
        width: 178px;
        top: -84px;
        right: 90px;
    }
    .scrol_img{
        z-index: 1000;
        position: absolute;
        top: -353px;
        left: 110px;
    }
    .scrolll{
        position: relative;
    }

     /* footer start */

    .contact{
        display: none;
    }

    .footer_nav{
        padding: 0;
    }
    .donat_footer{
        text-align: center;
    }
    .donat_footer a{
        font-weight: 700;
        font-size: 18px;
        line-height: 35px;
    }
    .footer_nav .donat_footer .buy_footer{
        padding: 12px 67px;
        width: 182px;
        background-size: 100%;
        padding: 7px 0px;
    }
    .footer_nav .play_footer {
        width: 182px;
        background-size: 100%;
        padding: 7px 0px;
    }
    .footer_nav .nft_footer {
        padding: 6px 31px 7px 34px;
        width: 156px;
        background-size: 100%;
        margin-left: 28px;
    }
    .footer_nav .nft_footer img {
        width: 48px;
        height: 53.24px;
        bottom: 2px;
        left: -29px;
    }
    .first_child{
        display: none;
    }
    .first_child.mobile{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .first_child.mobile a{
        font-size: 16px;
        line-height: 24px;
    }
    .social_footer{
        display: none;
    }
    .social_footer.mobile{
        margin-bottom: 63px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

    }
    /* .social_footer.mobile li {
        width: 100%;
    } */
    .social_footer.mobile li:first-child{
        width: 100%;
    }
    .footer_nav .social_footer.mobile li{
        margin-right: 24px;
    }
    .footer_nav .social_footer.mobile img{
        width: 20px;
        height: 20px;
        margin: 0;
    }
    footer .container .faq{
        padding: 36px 20px;
        transform: translateY(-244px);
    }
    footer .faq h1{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 40px;
    }
    .accordion-flush .accordion-item button{
        font-size: 14px;
    }
    .accordion-flush .accordion-item .accordion-body{
        font-size: 14px;
    }
    .footer_nav{
        margin-top: -290px;
    }
    .accordion-flush .accordion-item:last-child{
        border: 0;
    }
    .accordion-button::after {
        background-size: 10px 6px;
        width: 11px;
    }
    /* footer end */
}

@media (max-width: 320px){

    /* .header_bottom .mb_imgblock img{
        display: block;
        width: 50%;
        position: absolute;
        top: 216px;
        right: 0;
    }
    .scrol_img img {
        position: absolute;
        top: -30px;
        left: 130px;
    } */
}